.pagination {
  white-space: nowrap;
  padding: 2px 5px;
  color: #303133;
  font-weight: 700;
}
.pagination::after,
.pagination::before {
  display: table;
  content: '';
}
.pagination::after {
  clear: both;
}
.pagination button,
.pagination span:not([class*='suffix']) {
  display: inline-block;
  font-size: 13px;
  min-width: 35.5px;
  height: 28px;
  line-height: 28px;
  vertical-align: top;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.pagination button {
  border: none;
  padding: 0 6px;
  background: 0 0;
}
.pagination button:focus {
  outline: 0;
}
.pagination button:hover {
  color: #27ae60;
}
.pagination button:disabled {
  color: #c0c4cc;
  background-color: #fff;
  cursor: not-allowed;
}
.pagination .btn-next,
.pagination .btn-prev {
  background: center center no-repeat #fff;
  background-size: 16px;
  cursor: pointer;
  margin: 0;
  color: #303133;
}
.pagination .btn-next .icon,
.pagination .btn-prev .icon {
  display: block;
  font-size: 12px;
  font-weight: 700;
}
.pagination .btn-prev {
  padding-right: 12px;
}
.pagination .btn-next {
  padding-left: 12px;
}
.pagination .pager li.disabled {
  color: #c0c4cc;
  cursor: not-allowed;
}
.pager li,
.pager li.btn-quicknext:hover,
.pager li.btn-quickprev:hover {
  cursor: pointer;
}
.pagination--small .btn-next,
.pagination--small .btn-prev,
.pagination--small .pager li,
.pagination--small .pager li.btn-quicknext,
.pagination--small .pager li.btn-quickprev,
.pagination--small .pager li:last-child {
  border-color: transparent;
  font-size: 12px;
  line-height: 22px;
  height: 22px;
  min-width: 22px;
}
.pagination--small .arrow.disabled {
  visibility: hidden;
}
.pagination--small .more::before,
.pagination--small li.more::before {
  line-height: 24px;
}
.pagination--small button,
.pagination--small span:not([class*='suffix']) {
  height: 22px;
  line-height: 22px;
}
.pagination--small .pagination__editor {
  height: 22px;
}
.pagination__sizes {
  margin: 0 10px 0 0;
  font-weight: 400;
  color: #606266;
}
.pagination__total {
  margin-right: 10px;
  font-weight: 400;
  color: #606266;
}
.pagination__jump {
  margin-left: 24px;
  font-weight: 400;
  color: #606266;
}
.pagination__rightwrapper {
  float: right;
}
.pagination__editor {
  line-height: 18px;
  padding: 0 2px;
  height: 28px;
  text-align: center;
  margin: 0 2px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 3px;
}
.pager,
.pagination.is-background .btn-next,
.pagination.is-background .btn-prev {
  padding: 0;
}
.pagination.is-background .btn-next,
.pagination.is-background .btn-prev,
.pagination.is-background .pager li {
  margin: 0 5px;
  background-color: #83cca2;
  color: #606266;
  min-width: 30px;
  border-radius: 2px;
}
.pagination.is-background .btn-next.disabled,
.pagination.is-background .btn-next:disabled,
.pagination.is-background .btn-prev.disabled,
.pagination.is-background .btn-prev:disabled,
.pagination.is-background .pager li.disabled {
  color: #c0c4cc;
}
.pagination.is-background .pager li:not(.disabled):hover {
  color: #ffffff;
}
.pagination.is-background .pager li:not(.disabled).active {
  background-color: #27ae60;
  color: #fff;
}
.pagination.is-background.pagination--small .btn-next,
.pagination.is-background.pagination--small .btn-prev,
.pagination.is-background.pagination--small .pager li {
  margin: 0 3px;
  min-width: 22px;
}
.pager,
.pager li {
  vertical-align: top;
  display: inline-block;
  margin: 0;
}
.pager {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  list-style: none;
  font-size: 0;
}
.pager .more::before {
  line-height: 30px;
}
.pager li {
  padding: 0 4px;
  background: #fff;
  font-size: 13px;
  min-width: 35.5px;
  height: 28px;
  line-height: 28px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-align: center;
}
.pager li.btn-quicknext,
.pager li.btn-quickprev {
  line-height: 28px;
  color: #303133;
}
.pager li.btn-quicknext.disabled,
.pager li.btn-quickprev.disabled {
  color: #c0c4cc;
}
.pager li.active + li {
  border-left: 0;
}
.pager li:hover {
  color: #409eff;
}
.pager li.active {
  color: #409eff;
  cursor: default;
}
