@import './normalize.css';
@import './reset.css';

/* 图标 */
@import './iconfont/iconfont.css';

/* 基本布局 */
@import './theme/row.css';
@import './theme/col.css';

/* 轮播图 */
@import './theme/carousel.css';
@import './theme/carousel-item.css';

/* 返回顶部 */
@import './theme/backtop.css';

/* 标签栏 */
@import './theme/tabs.css';

/* 页头 */
@import './theme/page-header.css';

/* 分页 */
@import './theme/pagination.css';

/* 图片 */
@import './theme/image.css';

/* 设置 webkit 内核滚动朓样式 */ /* 设置整体滚动条的样式 */
::-webkit-scrollbar {
  width: 9px;
}
/* 滚动槽 */
::-webkit-scrollbar-track {
  border-radius: 9px;
  background-color: rgba(31, 145, 78, 0.11);
}
/* 滚动条滑块 */
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #5cc989;
}
/* 切换窗口时滚动条的样式 */
::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(0, 0, 0, 0.11);
}

/* 去除 a 标签修饰 */
a {
  text-decoration: none;
}
a,
a:focus,
button,
button:focus {
  outline: none;
}
a:link,
a:visited {
  color: #555666;
}
a:hover,
a:active {
  color: #27ae60 !important;
  transition: color 0.3s;
}

/* 细线表格 */
table {
  width: 100%;
  border-collapse: collapse;
}
table tr td {
  padding: 8px 12px;
  text-align: center;
  color: #333;
  border: 1px solid #ddd;
  border-collapse: collapse;
}
